/*




@mixin blog-card($main-home-vw) {
                    
         
    position: relative;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;

    height:  p-x( 250 , $main-home-vw , 100 , 760 );
    width:   p-x( 480 , $main-home-vw , 100 , 760 );
    box-sizing: content-box;

    border-top:     p-x( 4 , $main-home-vw , 100 , 760 ) solid $theme_primaryBlack;
    border-left:    p-x( 4 , $main-home-vw , 100 , 760 ) solid $theme_primaryBlack;
    border-right:   p-x( 4 , $main-home-vw , 100 , 760 ) solid $theme_primaryBlack;
    border-bottom:  p-x( 4 , $main-home-vw , 100 , 760 ) solid $theme_primaryBlack;


    border-radius: p-x( 10 , $main-home-vw , 100 , 760 );
    overflow: hidden;

    $thumbnail-container-height: p-x( 250 , $main-home-vw , 100 , 760 );
    $thumbnail-container-width : p-x( 270 , $main-home-vw , 100 , 760 );

    
    .thumbnail-container {
        grid-column: 1/2;

        display: flex;
        align-items: center;
        justify-content: center;

        height:  $thumbnail-container-height;
        width:   $thumbnail-container-width;

        .thumbnail-img {

            object-fit: cover;
            object-position: center;

            display: block;
            height:  $thumbnail-container-width;
            width:   $thumbnail-container-height;
            transition: 0.2s;
        }
    }




    .date-livi-container {
        position: absolute;
        bottom: 0;
        left: 0;

        display: grid;
        align-items: center;
        height:  p-x( 45 , $main-home-vw , 100 , 760 );
        width:   p-x( 270 , $main-home-vw , 100 , 760 );
        background-color: #00000077;

        .view-like-grp {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
            

            .view-grp, .like-grp {
                display: grid;
                grid-template-columns: max-content 1fr;
                align-items: center;
                justify-items: center;
                color: $white;
                border-radius: p-x( 5 , $main-home-vw , 100 , 760 );

                svg {
                    display: block;
                    height: p-x( 25 , $main-home-vw , 100 , 760 );
                    width:  p-x( 25 , $main-home-vw , 100 , 760 );
                    margin: 0 p-x( 3 , $main-home-vw , 100 , 760 );
                }

                span {
                    display: block;
                    max-width: p-x( 90 , $main-home-vw , 100 , 760 );
                    font-size: p-x( 18 , $main-home-vw , 100 , 760 );
                    overflow: hidden;
                }

            } 
        }
    }



    .blog-data-container {
        grid-column: 2/3;

        display: grid;
        grid-template-rows: 1fr 1fr;
        height:  p-x( 250 , $main-home-vw , 100 , 760 );
        width:   p-x( 210 , $main-home-vw , 100 , 760 );

        padding: p-x( 10 , $main-home-vw , 100 , 760 ) p-x( 15 , $main-home-vw , 100 , 760 );

        .data-div-1 {

            h3.title {
                font-size: p-x( 25 , $main-home-vw , 100 , 760 );
                font-weight: 600;

            }
            div.line-sep {
                display: block;
                height: p-x( 2 , $main-home-vw , 100 , 760 );
                width:  p-x( 180 , $main-home-vw , 100 , 760 );
                background-color: $theme_primaryBlack;
                border-radius: p-x( 5000 , $main-home-vw , 100 , 760 );
                margin: p-x( 5 , $main-home-vw , 100 , 760 ) 0;
            }

            .desc-container {
                height: p-x( 140 , $main-home-vw , 100 , 760 );
                width:  p-x( 180 , $main-home-vw , 100 , 760 );
                
                p.desc {
                    height: p-x( 135 , $main-home-vw , 100 , 760 );
                    width:  p-x( 180 , $main-home-vw , 100 , 760 );
                    position: relative;

                    font-size: p-x( 17 , $main-home-vw , 100 , 760 );

                    word-wrap: break-word;
                    overflow: hidden;                            
                }
            }
            
        }


        .author-container {
            align-self: flex-end;

            display: flex;
            flex-direction: row-reverse;
            height: p-x( 35 , $main-home-vw , 100 , 760 );
            width:  p-x( 180 , $main-home-vw , 100 , 760 );

            position: relative;
        
            .author-img {
                display: block;
                height: p-x( 35 , $main-home-vw , 100 , 760 );
                width:  p-x( 35 , $main-home-vw , 100 , 760 );
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                position: absolute;
            }
            .author-name {
                height: p-x( 35 , $main-home-vw , 100 , 760 );
                max-width: max-content;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 p-x( 6+35 , $main-home-vw , 100 , 760 ) 0 p-x( 10 , $main-home-vw , 100 , 760 );
                border-radius: p-x( 5000 , $main-home-vw , 100 , 760 );
                font-weight: 500;   
                transition: 0.2s;
                font-size: p-x( 16 , $main-home-vw , 100 , 760 );

                border: p-x( 2 , $main-home-vw , 100 , 760 ) solid $theme_primaryBlack;
            }

            &:hover {
                .author-name {
                    background-color: $theme_gold;
                }
            }
        }





    }

    &:hover {
        .thumbnail-container .thumbnail-img {
            height:  $thumbnail-container-height;
            width:   $thumbnail-container-width;
        }

        box-shadow: 0 0 p-x( 4 , $main-home-vw , 100 , 760 ) p-x( 1 , $main-home-vw , 100 , 760 ) $gray;
    }






}




*/
.main-hashtag {
  margin-top: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (65 / 760) );
  min-height: calc(100vh - calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (65 / 760) ));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-hashtag .hashtag-container {
  display: block;
  width: 80%;
  min-height: inherit;
  height: 100%;
  padding-bottom: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (100 / 760) );
  border-left: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (2 / 760) ) solid #262628;
  border-right: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (2 / 760) ) solid #262628;
}

.main-hashtag .hashtag-container .hashtag-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (15 / 760) ) calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (30 / 760) ) calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (15 / 760) );
  border-bottom: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (2 / 760) ) solid #262628;
}

.main-hashtag .hashtag-container .hashtag-header h2 {
  display: block;
  border: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (2 / 760) ) solid #262628;
  border-radius: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (5000 / 760) );
  padding: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (5 / 760) ) calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (20 / 760) );
  height: max-content;
  width: max-content;
  font-size: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (24 / 760) );
}

.main-hashtag .hashtag-container .hashtag-blog-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (308 / 760) ));
  grid-auto-rows: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (438 / 760) );
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-column-gap: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (40 / 760) );
  grid-row-gap: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (40 / 760) );
  margin: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (40 / 760) ) 0 calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (100 / 760) );
  padding: 0 calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (30 / 760) );
  position: relative;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog {
  all: unset;
  color: #262628;
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-rows: max-content max-content;
  justify-items: center;
  background-color: #ffffff;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (430 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (300 / 760) );
  box-sizing: content-box;
  border-top: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (4 / 760) ) solid #262628;
  border-left: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (4 / 760) ) solid #262628;
  border-right: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (4 / 760) ) solid #262628;
  border-bottom: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (4 / 760) ) solid #262628;
  border-radius: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (10 / 760) );
  overflow: hidden;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container {
  position: relative;
  height: max-content;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .thumbnail-container {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (210 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (300 / 760) );
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .thumbnail-container .thumbnail-img {
  object-fit: cover;
  object-position: center;
  display: block;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (300 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (270 / 760) );
  transition: 0.2s;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (45 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (300 / 760) );
  background-color: #00000077;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container .view-like-grp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container .view-like-grp .view-grp, .main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container .view-like-grp .like-grp {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: center;
  color: #ffffff;
  border-radius: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (5 / 760) );
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container .view-like-grp .view-grp svg, .main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container .view-like-grp .like-grp svg {
  display: block;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (25 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (25 / 760) );
  margin: 0 calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (3 / 760) );
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container .view-like-grp .view-grp span, .main-hashtag .hashtag-container .hashtag-blog-gallery .blog .thumbnail-da-livi-container .date-livi-container .view-like-grp .like-grp span {
  display: block;
  max-width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (90 / 760) );
  font-size: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (18 / 760) );
  overflow: hidden;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: max-content 1fr;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (220 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (300 / 760) );
  padding: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (5 / 760) ) calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (15 / 760) ) calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (15 / 760) );
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container .data-div-1 h3.title {
  font-size: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (25 / 760) );
  font-weight: 600;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container .data-div-1 div.line-sep {
  display: block;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (2 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (270 / 760) );
  background-color: #262628;
  border-radius: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (5000 / 760) );
  margin: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (5 / 760) ) 0;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container .data-div-1 .desc-container {
  overflow: hidden;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (115 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (270 / 760) );
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container .data-div-1 .desc-container p.desc {
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (135 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (270 / 760) );
  position: relative;
  font-size: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (17 / 760) );
  word-wrap: break-word;
  overflow: hidden;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container .author-container {
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (7 / 760) );
  display: flex;
  flex-direction: row-reverse;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (35 / 760) );
  width: max-content;
  position: relative;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container .author-container .author-img {
  display: block;
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (35 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (35 / 760) );
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: absolute;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog .blog-data-container .author-container .author-name {
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (35 / 760) );
  max-width: max-content;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (41 / 760) ) 0 calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (10 / 760) );
  border-radius: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (5000 / 760) );
  font-weight: 500;
  transition: 0.2s;
  font-size: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (16 / 760) );
  border: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (2 / 760) ) solid #262628;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog:hover {
  box-shadow: 0 0 calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (4 / 760) ) calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (1 / 760) ) #777777;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog:hover .thumbnail-container .thumbnail-img {
  height: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (280 / 760) );
  width: calc( (calc( min(80vw - 1rem , 100vh - 1rem) + 1rem ) ) * (300 / 760) );
}

.main-hashtag .hashtag-container .hashtag-blog-gallery .blog:hover .blog-data-container .author-container .author-name {
  background-color: #FFBD21;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery button.loading-btn {
  height: max-content;
  width: max-content;
  border: 4px solid #262628;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: -88px;
  padding: 8px;
}

.main-hashtag .hashtag-container .hashtag-blog-gallery button.loading-btn svg {
  display: block;
  height: 24px;
  width: 24px;
}
/*# sourceMappingURL=hashtagpage.inc.css.map */