// PRIMARY THEME COLORS

$theme_gold: #FFBD21;
$theme_gold_light: #ffbc21e0;
$theme_primaryBlack: #262628;
$theme_secondaryBlack: #252527;
$theme_fontBlack: #28242A;





// NEUTRAL COLORS
$black : #000000;
$white : #ffffff;
$gray : #777777;













