<a authorId="<%= authorID %>"  href="/viewaccount/<%= authorID %>" class="follower-author-card-cont">
    <img src="<%= profileImg %>" alt="" class="profile-img">
    <h1 class="user-name"><%= userName %></h1>
    <button class="remove-btn"><i class="fas fa-user-slash"></i></button>
</a>

