@import "../style.inc/color.inc.scss";
@import "../style.inc/typography.inc.scss";
@import "../style.inc/variables.inc.scss";
@import "../page-mobile/blog-card-mobile.inc.scss";






.main-hashtag {
    display: block;
    min-height: #{'calc(100vh - #{$nav-mobile-height})'};
    margin-top: $nav-mobile-height;
    padding: 0 rem( 18 );



    .hashtag-container {
        display: block;
        width: 100%;
        min-height: inherit;
        height: 100%;

        border-left:  rem( 2 )  solid $theme_primaryBlack;
        border-right: rem( 2 )  solid $theme_primaryBlack;




        .hashtag-header {
            display: flex;
            align-items: center;

            width: 100%;
            height: max-content;
            padding: rem( 15 )  rem( 20 )  rem( 15 ) ;

            border-bottom: rem( 2 )  solid $theme_primaryBlack;


            h2 {
                font-size: rem( 24 ) ;
                display: block;
                width:  max-content;
                height: max-content;
                border: rem( 2 )  solid $theme_primaryBlack;
                padding: rem( 5 )  rem( 15 ) ;
                border-radius: rem( 5000 ) ;
            }
        }



        .hashtag-blog-gallery {
            display: grid;
            align-items: center;
            justify-items: center;
            justify-content: center;
            grid-row-gap: rem( 56 );
            padding: rem(30) 0 rem( 100 );
            
    

            .blog {
                @include blog-card-mobile;
            } 
        }



    }





}




















